<div class="row">
  <div class="col-8">
    <h1>
      Invoices
      <%= link_to "New invoice", new_invoice_path, class: "btn btn-dark float-end" %>
    </h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">user</th>
          <th scope="col">Abroad Investment</th>
          <th scope="col">Invoice Date</th>
          <th scope="col">Total Amount</th>
        </tr>
      </thead>
      <tbody class="text-muted">
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= invoice.user.email %></td>
            <td><%= invoice.foreign_investment  ? 'Yes' : 'No' %></td>
            <td><%= invoice.date_of_invoice.strftime('%B %e, %Y') %></td>
            <td><%= number_to_currency(invoice.total_amount) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

  <div class="col-4 card">
    <div class="card-body text-success">
      <h5>Total Rewards Points Earned:</h5>
      <h1>
        <span class="text-success"><%= user_loyalty_points %></span>
      </h1>
      <hr>
      <h5>Rewards List</h5>
      <% if @rewards.present? %>
        <%= render 'reward_list', rewards: @rewards %>
      <% end %>
    </div>
  </div>
</div>
